/* main{
  position:relative;
  z-index: 5;
} */
body{
  @apply .bg-white;
}
.background-container{
  opacity: 0.5;
  width: 200vw;
  height: 200vh;
  position: fixed;
  z-index: -1;
  left: -50vw;
  top: -50vh;
}
a{
  @apply .text-grippers-primary;
  text-decoration: none;
}
ul{
  list-style: none;
  @apply .pl-0;
}
