/* main{
  position:relative;
  z-index: 5;
} */
*{
  box-sizing: border-box;
  border-style: solid;
}
body{
  @apply .bg-grippers-dark;
}
.background-container{
  width: 200vw;
  height: 200vh;
  position: fixed;
  z-index: -1;
  left: -50vw;
  top: -50vh;
}
a{
  @apply .text-grippers-primary;
  text-decoration: none;
}
@screen md{

}
