@font-face {
  font-family: 'Mono';
  src: url('../fonts/courier-prime-code.regular.woff') format('woff'),
       url('../fonts/courier-prime-code.regular.woff2') format('woff2');
}
@font-face {
  font-family: 'MonoItalic';
  src: url('../fonts/courier-prime-code.italic.woff') format('woff'),
       url('../fonts/courier-prime-code.italic.woff2') format('woff2');
}
@font-face {
  font-family: 'Serif';
  src: url('../fonts/souvenir-medium.woff') format('woff'),
       url('../fonts/souvenir-medium.woff2') format('woff2');
}
@font-face {
  font-family: 'SerifItalic';
  src: url('../fonts/souvenir-medium-italic.woff') format('woff'),
       url('../fonts/souvenir-medium-italic.woff2') format('woff2');
}
@font-face {
  font-family: 'SerifBold';
  src: url('../fonts/souvenir-demi.woff') format('woff'),
       url('../fonts/souvenir-demi.woff2') format('woff2');
}
@font-face {
  font-family: 'Display';
  src: url('../fonts/okay-d.woff') format('woff'),
       url('../fonts/okay-d.woff2') format('woff2');
}
html{
  @apply .text-sm;
}
body{
  font-family: 'Serif', serif;
  @apply .text-white;
}
h1.page-title{
  text-align:center;
  @apply .mb-4;
  font-size: 4rem;
}
h1{

}
h2{
  @apply .text-2xl .tracking-extra-wide;
  & a{
    @apply .text-grippers-light;
  }
}
p{
  line-height: 1.4;
  @apply .tracking-wide;
}
hr{
  border-bottom: 1px solid;
  @apply .pt-8 .mb-8 .mt-0;
}
.cta{
  @apply .mr-2 .mb-2 .pb-1 .pt-2 .px-2 .font-mono .inline-block;
  cursor: pointer;
  &.primary{
    color: white;
    @apply .bg-grippers-secondary .border-grippers-secondary .border;
  }
  &.secondary{
    color: white;
    @apply .bg-grippers-primary .border-grippers-primary .border;
  }
  &.reverse{
    @apply .text-grippers-secondary .border-grippers-secondary .border;
  }
}
@screen md{
  html{
    @apply .text-base;
  }
}
@screen lg{
  html{
    @apply .text-lg;
  }
}
