.entry-image{
  @apply .w-full;
  flex-basis: 100%;
}
.entry{
  & h2{
    @apply .mb-4;
  }
  & .container{
    @apply .bg-white .px-4 .py-6 .text-grippers-dark;
  }
  & .entry-header{
    @apply .mb-8;
  }
  & .stats{
    @apply .flex .flex-wrap;
    flex-basis: 100%;
    &>div{
      @apply .ml-0;
      flex-basis: 100%;
    }
  }
  & .ctas{
    @apply .mb-6;
  }
}
.log-line{
  @apply .text-grippers-tertiary;
}
.entry-intro{
  @apply .mb-6 .flex .items-start .flex-wrap;
}
@screen md{
  .entry{
    @apply .px-4;
    & .container{
      @apply .px-8 .py-6;
    }
    & p{
      @apply .text-lg;
    }
    & ul{
      @apply .text-xl;
    }
    & .entry-image{
      width: 60%;
      @apply .mb-0;
    }
    & .stats{
      @apply .flex-no-wrap .items-start;
    }
    & .entry-intro{
      @apply .flex-no-wrap;
    }
    & .stats>div{
      @apply .ml-4;
    }
    & .stats{
      flex-basis: 66%;
    }
    & .entry-image{
      flex-basis: 33%;
    }
  }
}
