<meta name="description" content="{{ meta_description }}">
<meta property="og:title" content="Grippers' Tips | {{ title }}">
<meta property="og:description" content="{{ meta_description }}">
<meta property="og:url" content="http://grippers.tips{{ url }}">
<meta property="og:image" content="http://grippers.tips{{ meta_image }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@gripperstips">
<meta name="twitter:creator" content="@gripperstips">
<meta name="twitter:title" content="Grippers' Tips | {{ title }}">
<meta name="twitter:description" content="{{ meta_description }}">
<meta name="twitter:url" content="http://grippers.tips{{ url }}">
<meta name="twitter:image" content="http://grippers.tips{{ meta_image }}">
