<div class="card card--rip mb-24">
  <div class="card-head">
    <div class="card-image-container">
      <!-- <div class="collection-tag">Rip</div> -->
      {{ if star }}<div class="star" style="background-image:url('{{ theme:img src='star-badge.svg' }}')";><div class="star-text">{{ star }}{{ title | title }}{{ /star }}</div></div>{{ /if }}
      <div class="card-image">
        <a href="{{ url }}">{{ assets:artwork limit="1"}}<img src="{{ url }}"/>{{ /assets:artwork }}</a>
      </div>
    </div>
    <div class="card-info-container">
      <h2 class="mb-2"><a href="{{ url }}">{{ title }}</a></h2>
      <div class="meta">
        <time datetime="{{ date format='Y-m-d\TH:i:sP' }}" >{{ date format='M jS Y' }}</time>
        {{ author }}
          {{ if first }}by{{ /if }}
          {{ if type == 'user_author' }}
            {{ relate:user_profile }}
              {{ name }}
            {{ /relate:user_profile }}
          {{ elseif type == 'external_author' }}
            {{ name }}
          {{ /if }}
        {{ /author }}
      </div>
      <div class="intro">
        {{ intro_content }}
      </div>
      <div class="ctas">
          {{ if clip_toggle }}
            <a class="clip cta secondary" data-title="{{ clip_title }}" data-format="{{ clip_type }}" data-clip="{{ if clip_type == 'youtube' }}{{ clip_youtube_url }}{{ elseif clip_type == 'mp3' }}{{ clip_mp3_file }}{{ elseif clip_type == 'bandcamp' }}{{ clip_bandcamp_track_id }}{{ elseif clip_type == 'soundcloud' }}{{ clip_soundcloud_track_id }}{{ elseif clip_type == 'beatport' }}{{ clip_beatport_track_id }}{{ elseif clip_type == 'juno' }}{{ clip_juno_track_id }}{{ /if }}">Play clip</a>
          {{ /if }}
          <a class="cta inline-block mb-2 primary" href="{{ rip_link }}" target="blank">Download rip</a>
          <a class="cta inline-block mb-2 reverse" href="/flag?entry={{ url | urlencode }}" target="blank">Flag this</a>
      </div>
    </div>
  </div>
</div>
