{{ partial:header }}
<main class="mx-2">
    <div class="container">
      <h1 class="page-title">{{ title }} {{ if get:page }}&mdash; Page {{ get:page }}{{ /if }}</h1>
      {{ collection from="{mount}" date:is_past="true" paginate="true" limit="10" as="posts" }}
        {{ posts }}
          {{ unless collection == "blog" }}
            {{ partial:card }}
          {{ else }}
            {{ partial:blog_card }}
          {{ /unless }}
        {{ /posts }}
        <div class="pagination-container">
          {{ paginate }}
              {{ auto_links }}
          {{ /paginate }}
        </div>
      {{ /collection }}
  </div>
</main>
{{ partial:player }}
{{ partial:footer }}
