{{ partial:header }}
<main class="mx-2">
    <div class="container">
      <div class="py-16">
        {{ partial:rich_content }}
      </div>
      <hr>
      <h1 class="page-title">The Latest</h1>

      {{ collection from="rips|tips" date:is_past="true" paginate="true" limit="10" as="posts"}}
        {{ posts }}
          {{ partial:card }}
        {{ /posts }}
        <div class="pagination-container">
          {{ paginate }}
              {{ auto_links }}
          {{ /paginate }}
        </div>
      {{ /collection }}
  </div>
</main>
{{ partial:player }}
{{ partial:footer }}
