{{ partial:header }}
<main class="mx-2">
    <div class="container">
      {{ title | wrap:h1 }}
      <h2 class="search-term">&ldquo;{{ get:q }}&rdquo;</h2>
      {{ search:results from="rips|tips|blog" as="result" date:is_past="true" paginate="true" limit="10"}}
        <ul class="search-results">
          {{ result }}
          <li>
            {{ if is_entry }}
              {{ if collection == 'blog'}}
                {{ partial:blog_card}}
              {{ else }}
                {{ partial:card }}
              {{ /if }}
            {{ elseif is_term }}
              {{ partial:term_card }}
            {{ /if }}
          </li>
          {{ /result }}
        </ul>
        <div class="pagination-container">
          {{ paginate }}
              {{ auto_links }}
          {{ /paginate }}
        </div>
      {{ /search:results }}
  </div>
</main>
{{ partial:player }}
{{ partial:footer }}
