{{ partial:header }}
<main class="mx-2">
    <div class="container">
      <h1 class="page-title">{{ segment_1 | title }}: {{ segment_2 | title }}</h1>
      {{ term }}
      {{ collection taxonomy="{segment_1}/{segment_2}" from="tips|rips" date:is_past="true" paginate="true" limit="10" as="posts" }}
        {{ posts }}
          {{ partial:card }}
        {{ /posts }}
        <div class="pagination-container">
          {{ paginate }}
              {{ auto_links }}
          {{ /paginate }}
        </div>
      {{ /collection }}
  </div>
</main>
{{ partial:player }}
{{ partial:footer }}
