.card{
  @apply .relative .p-4 .pt-10;
}
.card-head{
  @apply .pb-4 .mb-4 .border-b;
  flex-wrap: wrap;
}
.card-body{
  @apply .flex .flex-wrap-reverse;
  & .intro{
    flex-basis: 100%;
  }
  & .stats{
    flex-basis: 100%;
  }
}
.card-image-container{
  @apply .relative .w-full .mb-6;
}
.card-image{
  @apply .w-full .mx-auto .rounded .relative .border .border-grippers-primary;
  overflow: hidden;
  & img{
    @apply .block;
    width: 100%;
    line-height: 0;
  }
}
.clip-cta-container{
  @apply .absolute .w-full;
  bottom: 0;
  & .cta{
    @apply .mx-auto .mb-0 .w-full .text-center;
  }
}
.meta{
  @apply .font-mono;
}
.collection-tag{
  top: 0;
  right: 0;
  @apply .block .absolute .font-mono-italic .text-grippers-primary .bg-grippers-dark .text-center .text-sm .px-2 .pb-1 .pt-2 .z-10 .border .border-grippers-primary .rounded-tr;
}
.star {
  @apply .absolute .z-10 .text-center;
  transform: rotate(-15deg);
  width: 7em;
  height: 7rem;
  top: 1rem;
  left: 1rem;
  background-size: 100%;
  & .star-text{
    width: 100%;
    @apply .font-display .text-grippers-primary .text-2xl .absolute .w-full;
    transform: translateY(-50%);
    top: 54%;
  }
}
@screen md{
  .card-head{

  }
  .card-body{
    @apply .flex-no-wrap;
  }
  .card-image-container{
    width: 60%;
    @apply .mx-auto;
  }
  .star {
    top: -2rem;
    left: -2rem;
    & .star-text{
      @apply .text-2xl;
    }
  }
}
