.card{
  @apply .relative .p-0 .bg-white .mb-24 .border-t-4 .border-grippers-tertiary .text-grippers-dark;

}
.card-head{
  @apply .pb-4 .mb-4;
  flex-wrap: wrap;
}
.card-image-container{
  @apply .relative .w-full .mb-6;
}
.card-info-container{
  @apply .relative .px-4;
}
.card-image{
  @apply .w-full .relative;
  overflow: hidden;
  & img{
    @apply .block;
    width: 100%;
    line-height: 0;
  }
}
/* .clip-cta-container{
  @apply .absolute;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;
  & .cta{
    border-width: 0;
    @apply .mx-auto .mb-0 .w-full .text-center .border .border-grippers-dark;
  }
} */
.meta{
  @apply .font-mono .text-sm .opacity-75 .mb-4;
}
.collection-tag{
  @apply .block .font-mono .text-grippers-tertiary .text-right .text-xs .px-1 .pt-1 .bg-white .absolute .z-10;
  right: 0;
}
.star {
  @apply .absolute .z-10 .text-center;
  transform: rotate(-15deg);
  width: 7em;
  height: 7rem;
  top: 1rem;
  left: 1rem;
  background-size: 100%;
  & .star-text{
    width: 100%;
    @apply .font-display .text-grippers-secondary .text-2xl .absolute .w-full;
    transform: translateY(-50%);
    top: 54%;
  }
}
@screen md{
  .card-head{
    & h2{
      @apply .text-4xl;
    }
  }
  .card-body{
    @apply .flex-no-wrap;
  }
  .card-head{
    @apply .flex .flex-no-wrap .mb-0 .pb-0;
    & .card-info-container{
      @apply .p-4 .pl-6;
      flex-basis: 60%;
    }
  }
  .card--blog .card-head .card-info-container{
    flex-basis: 100%;
  }
  .card-image-container{
    flex-basis: 40%;
    @apply .mb-0;
  }
  .star {
    top: -2rem;
    left: -2rem;
    & .star-text{
      @apply .text-2xl;
    }
  }
}
