nav{
  @apply .flex .items-center .flex-wrap;
}
nav ul{
  @apply .text-sm .flex .items-center .justify-center .flex-wrap .text-center .mb-2 .w-full;
  & li{
    @apply .inline-block .mr-8 .mb-0;
    & a{
      @apply .text-grippers-primary .font-mono;
      &:hover{
        @apply .text-grippers-secondary;
      }
    }
  }
}


.search-box{
  @apply .w-full .relative .text-left .font-mono;
  & form{
    border-style: solid;
    @apply .flex .border .relative .border-grippers-primary;
    & input[type="search"]{
      @apply .text-grippers-dark .font-mono .text-sm;
      background: none;
      padding: .35rem;
      padding-top: .5rem;
      flex-basis: 100%;
    }
    & button{
      color: white;
      @apply .relative .mx-2 .text-grippers-primary;
    }
  }
}
@screen md{

  nav ul{
    @apply .flex-no-wrap .mb-0 .w-auto;
  }
  .search-box{
    @apply .w-auto;
    & form{
      display: block;
      width: 100%;
      & input[type="search"]{
        @apply .inline-block;
        width: 11rem;
      }
      & button{
        @apply .inline-block .text-sm;
      }
    }
  }
}
