nav ul{
  list-style: none;
  @apply .flex .justify-around .items-baseline;
  flex-wrap: wrap;
  & li{
    flex-basis: 1;
  }
}


.search-box{
  @apply .w-full .mt-4 .w-full .relative .text-sm .text-left;
  & form{
    @apply .flex .border .border-grippers-primary .relative;
    & input[type="search"]{
      padding: .35rem;
      flex-basis: 100%;
    }
    & button.cta{
      @apply .inline-block .m-0 .mr-0 .absolute;
      vertical-align: middle;
      top: 0;
      right: 0;
    }
  }
}
@screen md{
  nav ul{
    flex-wrap: nowrap;
  }
  .search-box{
    @apply .w-auto;
    width: 16rem;
    & form{
      display: block;
      width: 100%;
      & input[type="search"]{
        @apply .inline-block;
        width: 11.75rem;
      }
      & button.cta{
        @apply .inline-block .m-0 .text-sm;
      }
    }
  }
}
