nav ul{
  list-style: none;
  @apply .flex .justify-around .items-baseline .mt-4;
  flex-wrap: wrap;
  & li{
    flex-basis: 1;
    & a{
      @apply .text-grippers-light;
    }
  }
}


.search-box{
  @apply .w-full .mt-4 .w-full .relative .text-sm .text-left;
  & form{
    @apply .flex .border .relative;
    & input[type="search"]{
      background: none;
      padding: .35rem;
      flex-basis: 100%;
    }
    & button{
      @apply .relative .mx-2;
      top: .1rem;
    }
  }
}
@screen md{
  nav ul{
    flex-wrap: nowrap;
  }
  .search-box{
    @apply .w-auto;
    & form{
      display: block;
      width: 100%;
      & input[type="search"]{
        @apply .inline-block;
        width: 11rem;
      }
      & button{
        @apply .inline-block .text-sm;
      }
    }
  }
}
